@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    --background-color: #fffffe;
    --headline-color: #272343;
    --paragraph-color: #2d334a;
    --button-color: #ffd803;
    --button-text-color: #272343;
    --stroke-color: #272343;
    --main-color: #fffffe;
    --highlight-color: #ffd803;
    --secondary-color: #e3f6f5;
    --tertiary-color: #bae8e8;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: var(--background-color);
    cursor: url("../images/emojione-monotone_spoon.png") 2 2, auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
section {
    padding: 2em 2em;
}

header {
    background-color: var(--button-color);
    font-weight: bold;
    padding: .9em;

    nav {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        font-size: 1.5em;
        span {
            color: #1d7760fa
        }
    }

    a {
        color: var(--headline-color);
        text-decoration: none;
    }
}

.hero {
    text-align: center;

    .hero-pic {
        margin: 2em 0;
        width: 100%;
    }
    
    p {
        color: var(--paragraph-color);
        margin-bottom: 2em;
    }

    #title {
        font-size: 2rem;
        font-weight: bold;
        color: var(--headline-color);
        letter-spacing: .3rem;
    }
    
    #header-img {
        width: 30%;
        margin-bottom: 1em;
    }

    .menu-btn {
        background-color: var(--button-color);
        padding: 1em 4.5em;
        border-radius: 2em;
        font-weight: bold;
        display: block;
        color: var(--headline-color);
        cursor: pointer;
    }
    
    .menu-btn:hover {
        background-color: var(--headline-color);
        color: var(--button-color);
    }
}

.section-video {
    text-align: center;
    background: url("../images/pattern-randomized.svg");
    // height: 90vh;
    .title-video {
        color: var(--headline-color);
        font-size: 2.4rem;
        margin-bottom: 3em;
        letter-spacing: .3rem;
        color: var(--headline-color);
    }

    iframe {
        width: 100%;
        border-radius: 2em;
    }

    .title-description {
        h1 {
            color: var(--headline-color);
            margin-bottom: 2em;
        }
        p{
            color: var(--paragraph-color);
        }
    }
}

.section-form {
    background-color: var(--secondary-color);
    text-align: center;
    // height: 80vh;
    .title-form {
        color: var(--headline-color);
        font-size: 2.4rem;
        margin-bottom: 3em;
        letter-spacing: .3rem;
        color: var(--headline-color);
    }

    iframe {
        width: 100%;
        margin-bottom: 2em;
    }
    
    label {
        display: inline;
        font-size: 1.2rem;
        margin-bottom: .5em;
        display: none;
    }
    input[type="email"] {
        width: 100%;
        padding: 1em .8em;
        font-size: 1.1em;
        margin-bottom: 2em;
        display: block;
    }

    input[type="submit"] {
        border-color: var(--stroke-color);
        padding: .8em 4em;
        margin-bottom: 2em;
        border-radius: 2em;
        font-size: 1.5 rem;
        background-color: var(--button-color);
        color: var(--button-text-color);
        font-weight: bolder;
        border: 0;
        box-sizing: border-box;
    }
    input[type="submit"]:hover {
        background-color: var(--headline-color);
        color: var(--button-color);
    }

}

.mobile-menu {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: var(--button-color);
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        a {
            // color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;
            
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-close {
    float:right;
    margin: 5em;
    cursor: pointer;
    width: 50px;
    // display: block;
}

@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-close {
        display: none;
    }

    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        margin: 0 4em;  
        display: grid;
        grid-template-columns: 180px auto;
        align-items: center;
        height: 0px;
        // justify-content: unset;
        nav {
            display: flex;
            justify-content: space-between;
            background: none;
            position: unset;
            height: auto;
            width: 100%;
            ul {
                display: flex;
                
                li {
                    margin-right: 3em;
                    margin-top: .3em;
                }
            }
        }

        a:hover {
            // color: white;
            border-bottom: 2px var(--highlight-color) solid;
            font-weight: bold;
        }
 
    }
}

@media only screen and (min-width: 1080px){
    .container {
        // width: 1080px;
        // background: var(--highlight-color);
    }

    .hero .container {
        display: grid;
        grid-template-areas: "a b";
        grid-template-columns: 1fr 1fr;
        align-content: center;
        height: 100vh;
        .hero-pic {
            grid-area: b;
            width: 70%;
            height: auto;
            margin-top: -2em;
            margin-left: 10em;
        }
    }

    section {
        padding: 2em 10em;
    }

    .section-video iframe {
        width: 60%;
    }
    
    .section-form .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "form map";

        iframe {
            grid-area: map;
        }

        form {
            width: 60%;
        }
    }
}

@media only screen and (min-width: 1450px) {

}